<select class="form-select" #opcion (change)="mostrarSeleccionado(opcion.value)">
    <option default>Seleccione que desea mostrar</option>
    <option>Domicilio</option>
    <option>Retiro</option>
</select>
<div *ngIf="mostrar==='Domicilio'">
    <h2>Lista de Pedidos para entrega a domicilio</h2>
    <ul>
        <li *ngFor="let item of items">
            <div *ngIf="item.pedido.forma_entrega === 'Domicilio'">
                {{item.pedido.usuario?.apellido}}, {{item.pedido.usuario?.nombre}} - {{ item.producto.nombre }} - {{ item.cantidad }} - {{item.pedido.direccion}}
            </div>
        </li>
    </ul>
</div>
<div *ngIf="mostrar==='Retiro'">
    <h2>Lista de productos para retiro</h2>
    <ul>
        <li *ngFor="let item of items">
            <div *ngIf="item.pedido.entregado === true">
                {{item.pedido.usuario?.apellido}}, {{item.pedido.usuario?.nombre}} - {{ item.producto.nombre }} - {{ item.cantidad }}  - {{item.pedido.direccion}}
            </div>
        </li>
    </ul>
</div>